* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-image: url(../images/dynamic-style.png);
    size: 100%;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  /* color: #4aaaa5; */
  color: #009688;
}

/* navbar */
.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul a {
    color: #777777;
}

nav .brand-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: static;
    margin: 0px 0px 0px 0px;
    padding-left: 24px;
    padding-right: 24px;
}

.brand-logo {
    background-color: teal;
}

/* About me content */

.responsive {
    width: 15%;
    height: 9%;
    margin-right: 5px;
    margin-bottom: 10px;
  }

.main-col-width {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 95px;
    width: 85%;
}

.card p {
    display: inline-block;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.br-line {
    width: 97%;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.img-div {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.p-div {
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Portfolio Images */

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    max-height: 100vh;
  }

.card-image img {
    display: flex;
    margin: 10px;
    max-width: 18vw;
    margin-left: 20px;
  }

.cards .card-image .card-title {
    display: flex;
    background-color: teal;
    position: absolute;
    width: 18vw;
    font-size: 12px;
    text-align: center;
    margin: 0px 0px 20px 20px;
    padding: 0px 20px 0px 25px;
}

/* contact */
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0px auto;
    margin-left: 25px;
    padding: 0px auto;
    width: 85%;
  }

  .input-field, input {
      width: 300px;
  }

  .cards button {
      margin-bottom: 10px;
  }

@media only screen and (max-width: 993px) {
    nav .brand-logo {
        position: static;
        margin: 0px 0px 0px 45px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 10px;
    }

    nav ul {
        margin: -50px 0px 0px 105px;
    }

    .br-line {
        width: 90%;
        border-bottom: 1px solid grey;
        justify-content: space-between;
        margin: 0 auto;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    nav ul li {
        float: left;
        margin: 50px 0px 0px 0px;
    }
}

/* slight media to fix the movements of the links on the navbar */
@media only screen and (max-width: 560px) {
    nav .brand-logo {
        position: static;
        margin: 0px 0px 0px 45px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 10px;
    }

    nav ul {
        margin: -50px 0px 0px 105px;
    }

    .br-line {
        width: 90%;
        border-bottom: 1px solid grey;
        justify-content: space-between;
        margin: 0 auto;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .responsive {
        width: 30%;
        height: 25%;
        margin-right: 5px;
      }

      p, img {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
      }

      nav ul li {
          float: left;
          margin: -6px 0px 0px -20px;
      }
}

